doctype html
html
  head
    title User Management

    link(rel='stylesheet', href='/bootstrap-3.3.4-dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')

    script(src='/javascripts/jquery-2.1.4.min.js')
    script(src='/bootstrap-3.3.4-dist/js/bootstrap.min.js')
  body
    block content