extends ../layout

block content
	h1 Edit User

	form(name="edit-user", method="post", action="/users/#{user.id}/update")
		div.input
			span.label Email
			input(type="text", name="email", value="#{user.email}")
			span.label First Name
			input(type="text", name="firstName", value="#{user.firstName}")
			span.label Last Name
			input(type="text", name="lastName", value="#{user.lastName}")
		div.actions
			input(type="submit", value="Update")