extends ../layout

block content
    h1 Users

    h2 New User

    form.form-horizontal(name="add-user", method="post", action="/users/", role='form')
        input(type="hidden", name="_csrf", value="#{csrftoken}")
        .form-group
            label.control-label.col-sm-2(for='email') Email address
            .col-sm-10
                input(type="text", name="email")
        .form-group
            label.control-label.col-sm-2(for='firstName') First Name
            .col-sm-10
                input(type="text", name="firstName")
        .form-group
            label.control-label.col-sm-2(for='lastName') Last Name
            .col-sm-10
                input(type="text", name="lastName")
        .form-group
            .col-sm-offset-2.col-sm-10
                button.btn.btn-default(type='submit') Submit